# ========================
# 1 Service Account
# ========================
apiVersion: v1
kind: ServiceAccount
metadata:
  name: aggregator-sa
  namespace: aggregator-app
---
# ========================
# 2 ClusterRole: namespace management
# ========================
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: aggregator-namespace-manager
rules:
  - apiGroups: [""]
    resources: ["namespaces", "pods", "services", "configmaps"]
    verbs: ["get", "list", "create", "delete", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "create", "delete", "watch"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["get", "list", "create", "delete", "watch"]
---
# ========================
# 3 ClusterRoleBinding: grant namespace management cluster-wide
# ========================
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: aggregator-namespace-manager-binding
subjects:
  - kind: ServiceAccount
    name: aggregator-sa
    namespace: aggregator-app
roleRef:
  kind: ClusterRole
  name: aggregator-namespace-manager
  apiGroup: rbac.authorization.k8s.io
---
# ========================
# 5 Deployment
# ========================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregator
  namespace: aggregator-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aggregator
  template:
    metadata:
      labels:
        app: aggregator
    spec:
      serviceAccountName: aggregator-sa
      containers:
        - name: aggregator
          image: aggregator
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          env:
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: aggregator-config
                  key: log_level
            - name: AGGREGATOR_EXTERNAL_HOST
              value: "aggregator.local"
---
# ========================
# 6 Service: expose aggregator
# ========================
apiVersion: v1
kind: Service
metadata:
  name: aggregator-svc
  namespace: aggregator-app
spec:
  type: ClusterIP
  selector:
      app: aggregator
  ports:
    - port: 5000       
      targetPort: 5000
---
# =======================
# 7 Ingress
# ========================
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: aggregator-ingress
  namespace: aggregator-app
spec:
  ingressClassName: aggregator-traefik
  rules:
    - host: "aggregator.local"
      http:
        paths:
          - path: "/"                     
            pathType: Prefix
            backend:
              service:
                name: aggregator-svc          
                port:
                  number: 5000            
---