apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: ingress-uma
  namespace: aggregator-app
spec:
  forwardAuth:
    address: "http://ingress-uma.aggregator-app.svc.cluster.local/authorize"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-uma-prefix
  namespace: aggregator-app
spec:
  stripPrefix:
    prefixes:
      - "/uma"
---